<p>this window should allow you to edit tags</p>

<h4 class="text-center text-info" *ngIf="!elementTags">Please select a feature to browse tags.</h4>

<div *ngIf="!elementTags">
    <label for="inputkey">Tags</label>
    <div class="form-group form-inline col-xs-12">
        <input #k class="form-control" id="inputkey" type="text" [value]="tagKey"
               (keyup.enter)="updateKey(k.value)" (blur)="updateKey(k.value)">
        <input class="form-control" id="inputvalue" type="text" [value]="tagValue"
               #v (keyup.enter)="updateValue(v.value)" (blur)="updateValue(v.value)">
        <button class="btn btn-default glyphicon glyphicon-plus" aria-hidden="true"
                (click)="appendNewTag()"></button>
        <div> Current tag and value
            <p>
                {{tagKey}}
                {{tagValue}}
            </p>
        </div>
        <div> Current changes
            <p>
                {{elementChanges | json }}
            </p>
        </div>
    </div>
</div>

<!--<ul >-->
    <!--<li *ngFor="let tag in tags">{{tag}}</li>-->
<!--</ul>-->
